/*     scroll-behavior:smooth;*/

html {
    Font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: dimgrey;
}

a {
    color: dimgrey;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 3rem;
    padding-left: 3rem;
}


/* Header */

header {
    background-color: #c6dedd;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

header a {
    color: white;
    text-decoration: none;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    height: 2rem;
    border: 1px solid white;
}

.title h1 {
    font-size: 2rem;
    margin-left: 1rem;
}

header ul li {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 913px) {
    .title h1 {
        font-size: 1.5rem;
    }

    header ul li {
        font-size: inherit;
    }
}

@media only screen and (max-width: 679px) {
    header {
        justify-content: space-between;
    }

    header h1 {
        display: none;
    }
}


/*Main*/

main {
    position: relative;
    top: 4rem;
}


/*Banner*/

.banner {
    background-color: #c6dedd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53rem;
}

.banner-img {
    margin: 0 5rem 0 0; 
    text-align: center;
}

.banner-img img {
    width: 500px;
}

@media (max-width: 950px) {
    .banner {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .banner-img {
        margin: 0;
    }

    #intro {
        text-align: center;
    }

    #intro h3 {
        margin-top: 3rem;
    }
}


.banner p {
    font-size: 10px;
    margin-top: 0.5rem;
}

.banner h3 {
    font-family: Arial;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0 0.5rem 0;
}

.banner h2 {
    color: grey;
    font-style: italic;
    font-size: 2rem;
    font-family: balloon-urw, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@media only screen and (max-width: 1299px) {
    .banner h1 {
        font-size: 5.3rem;
    }
}

@media only screen and (max-width: 620px) {
    .banner h1 {
        font-size: 3.3rem;
    }
}


/*Portfolio*/

.portfolio {
    padding: 5rem 1rem 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 89%;
    margin: 0 auto;
}

.portfolio a {
    text-decoration: none;
    width: 28rem;
}

.flip-card span a {
    display: inline-block;
    margin-top: 2rem;
    color: pink;
}

.website {
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.website:hover {
    border: 5px solid white;
}

.website h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (max-width: 915px) {
    .portfolio {
        padding: 0;
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    .portfolio .flip-card {
        width: 100%;
    }

    .flip-card .flip-card-inner {
        transition: none;
    }

}

@media only screen and (max-width: 880px) {
    .portfolio a {
        width: 100%;
    }

    .website {
        margin: 0;
    }
}


/*Flip Card*/

.flip-card {
    background-color: transparent;
    width: 28rem;
    height: 28rem;
    perspective: 1000px;
    perspective-origin: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: rgb(32, 64, 86);
    color: white;
    transform: rotateY(180deg);
    border: 5px solid #c6dedd;
}

.flip-card-back h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.flip-card-back h4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.flip-card-back p {
    margin-top: 2rem;
}


/*Info*/

.btn-homepage {
    border-radius: 30px;
    background-color: #385E5C;
    color: white;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
    margin: 0 auto 3rem auto;
    padding: 20px;
    height: 20;
    width: 150px;
    text-align: center;
}

.btn-homepage:hover {
    background-color: #c6dedd;
    color: white;
}

.info a {
    text-decoration: none;
    color: midnightblue;
}

@media only screen and (max-width: 880px) {
    .btn-homepage {
        margin: 3rem auto;
    }
}


/*Rating*/

.testimonials {
    background-color: rgba(227, 180, 219, 0.379);
    padding: 5rem;
}

.move {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    margin-bottom: 4rem;
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.rating {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.rating img {
    width: 35%;
}

.rating p {
    margin: 1rem 0;
    color: rgb(118, 118, 118);
    text-align: center;
    width: 60%;
}

.rating span {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

@media only screen and (max-width: 780px) {
    .move {
        margin-bottom: 2.2rem;
    }

    .testimonials {
        padding: 3rem 3rem 0 3rem;
    }

    .testimonials h1 {
        font-size: 3rem;
    }

    .ratings {
        flex-flow: column wrap;
    }

    .rating {
        margin-bottom: 2rem;
        width: 70%;
    }

    .rating img {
        width: 70%;
    }

    .rating p {
        width: 90%;
        font-size: 1.1rem;
    }
}

/* Floating Top-Of-Page Button */
.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3rem 4rem 0;
    border-radius: 50%;
    padding: .25em;
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
}

.top-link.show {
    visibility: visible;
    opacity: 1;
}

.top-link.hide {
    visibility: hidden;
    opacity: 0;
}

.top-link svg {
    fill: #c6dedd;
    width: 24px;
    height: 12px;
}

/*.top-link:hover {
    background-color: #E8E8E8;
  }*/
.top-link:hover svg {
    fill: #385E5C;
}

.screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
}



/*Footer*/

footer {
    position: relative;
    top: 4rem;
    background-color: #c6dedd;
    color: white;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-about {
    border-top: 0.1px solid white;
}

footer i {
    padding: 0.5rem;
    border: 1px solid white;
}

footer a {
    color: white;
}

.example {
    background-image: url(/images/elephant.png);
}


/*About Page*/

.about {
    background-color: midnightblue;
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem 0 3rem;
    height: 48rem;
}

#about-img {
    width: 100%;
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#about-img:hover {
    background-image: url(../images/1.png);
}

.fact {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 1rem;
    line-height: 1.5;
    color: white;
    font-size: 1.4rem;
}

.skills-box {
    background-color: white;
    width: 7rem;
    margin: 1.7rem 0 1rem 0;
    text-align: center;
    font-weight: bold;
}

.fact h2 {
    padding: 0.6rem;
    color: rainbow;
    background-image: linear-gradient(to left, violet, violet, indigo, blue, green, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fact ul {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 920px) {
    .about {
        padding: 0;
        flex-direction: column;
        height: 100%;
    }

    #about-img {
        margin: 1rem 0;
        height: 25rem;
    }

    .skills-box {
        margin-top: 3rem;
    }

    .fact {
        width: 100%;
        margin: 0;
        border: 5px solid white;
        padding: 3rem;
        align-items: center;
    }

    .fact p {
        text-align: center;
    }

    .fact ul {
        margin-bottom: 0;
        text-align: center;
    }
}


/*About Button*/

.about-btn {
    background-color: #c6dedd;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 1.7rem 0 1rem 0;
    padding: 0.6rem;
    text-align: center;
    font-weight: bold;
}

.about-btn a {
    text-decoration: none;
    color: white;
}

.about-btn a:hover {
    color: midnightblue;
}

@media only screen and (max-width: 880px) {
    .about-btn {
        margin: 3rem auto;
    }
}


/*Blog*/


/*Banner Blog*/

.banner-blog {
    background-color: paleturquoise;
    border-bottom: 0.1px solid midnightblue;
    text-align: center;
    padding-bottom: 2rem;
}

.banner-blog div {
    background-image: url("../images/marvin-meyer-571072-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
    width: 100%;
    height: 45rem;
}

.banner-blog h1 {
    font-family: Arial;
    font-size: 7rem;
    font-weight: bold;
    color: darkblue;
    text-transform: uppercase;
    margin-top: 2rem;
}

@media only screen and (max-width: 1299px) {
    .banner-blog h1 {
        font-size: 5.3rem;
    }
}

@media only screen and (max-width: 620px) {
    .banner-blog h1 {
        font-size: 3.3rem;
    }

    .banner-blog div {
        height: 25rem;
    }
}


/*Blog Content*/

.blog {
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 89%;
    margin: 0 auto;
}

.blog a {
    text-decoration: none;
    width: 28rem;
}

.blog-post-preview {
    background-color: black;
    border: 5px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 28rem;
    color: white;
    background-size: cover;
}

.blog-post-preview:hover {
    border: 5px solid paleturquoise;
}

.blog-post-preview h1 {
    text-align: center;
    font-size: 190%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: relative;
}

.blog-post-preview p {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    position: relative;
}

@media only screen and (max-width: 880px) {
    .blog {
        padding: 0;
        width: 100%;
    }

    .blog a {
        width: 100%;
    }

    .blog-post-preview {
        margin: 0;
    }
}


/*Overlay*/

.overlay {
    position: relative;
}

.overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    content: '';
    color: white;
}

.overlay-green {
    position: relative;
}

.overlay-green:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #292F25;
    opacity: 0.4;
    content: '';
    color: white;
}


/*Blog Post*/

.blog-post {
    padding: 5rem;
    text-align: center;
    color: black;
}

.blog-post h1 {
    text-align: left;
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.blog-post h2,
.blog-post h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.blog-post p {
    font-size: 1.5rem;
    text-align: left;
    margin: 2rem 0;
}

.blog-post img {
    width: 80%;
}

@media only screen and (max-width: 880px) {
    .blog-post {
        padding: 3rem 3rem 0 3rem;
    }
}


/* Trip */

.form .button {
    font-size: 1.2rem;
}

.toDoList li {
    font-size: 2rem;
}


/*TEST*/

.name-list {
    text-align: left;
    padding-left: 46rem;
    margin: 2rem auto;
}

.name-list li {
    color: white;
    font-size: 2.5rem;
}

.past-blog {
    padding: 0 5rem 5rem 5rem;
    color: black;
    font-size: 1.5rem;
    line-height: 1.5;
}

.past-blog a {
    text-decoration: none;
}

.past-blog a:hover {
    color: pink;
}


/* Pop-up Window */

.pop-up {
    display: none;
    border: 2px solid #000;
    border-radius: 5px;
    height: 300px;
    width: 700px;
    background: #fff;
    transition: all 0.3s linear;
    position: absolute;
    top: 10%;
    left: 32%;
    z-index: 999;
}

.message {
    font-family: sans-serif;
    margin: 40px;
}

.close-button {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 10px;
}

.close-button:before,
.close-button:after {
    position: absolute;
    right: 30px;
    top: 10px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #333;
}

.close-button:before {
    transform: rotate(45deg);
}

.close-button:after {
    transform: rotate(-45deg);
}


/* Portfolio */


/* Site Nav */

.site-nav {
    margin: 1.5rem 0;
    color: pink;
}

.site-nav a {
    text-decoration: none;
    color: black;
}

.site-nav a:nth-child(5) {
    color: dimgrey;
}

.site-nav a:hover {
    color: pink;
}


/* Portfolio Case */

.banner-portfolio-case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-bottom: 0.1px solid midnightblue;
    background-position: center;
    background-size: cover;
    background-position: middle;
    background-image: url(/resources/images/cosmic.jpg);
}

.banner-portfolio-case h1 {
    font-size: 3.9rem;
    font-weight: 700;
    color: white;
}

.banner-portfolio-case span {
    color: rgb(145, 145, 145);
}

.portfolio-case {
    color: black;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.headline {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 3rem auto;
}

.category {
    color: rgb(145, 145, 145);
}

.headline h2 {
    font-size: 3.9rem;
    font-weight: 700;
}

.portfolio-case p {
    width: 800px;
    max-width: 100%;
    margin: 1rem auto 0 auto;
    text-align: left;
}

.overview-image {
    width: 800px;
    height: 600px;
    max-width: 100%;
    border: 1px solid black;
    margin: 2rem auto;
    overflow: auto;
    position: relative;
}

.overview-image img {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 50%;
}

table,
th,
td {
    padding-bottom: 7px;
    text-align: left;
}

th {
    font-weight: bold;
    padding-bottom: 1rem;
}

.thumbnailos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.thumbnailo:hover {
    color: paleturquoise;
}

.thumbnailo {
    display: flex;
    flex-direction: column;
}

.thumbnailo:not(:last-child) {
    margin-right: 50px;
}

.thumbnailo span {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


/* Pop-Up Call */

.popup-call {
    display: none;
}

.popup-call div {
    position: fixed;
    right: 2rem;
    top: 12rem;
    z-index: 888;
    background-color: midnightblue;
    border: 3px solid white;
    border-radius: 100%;
    color: white;
    font-size: 17px;
    height: 14rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about {
    display: flex;
}

#about img {
    width: 50vw;
    height: 100%;
}

#about h3 {
    font-size: 3rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #385E5C;
}

#about span {

}

.about-content {
    /* background-color: #feff9f;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 6rem 2rem 2rem;
}

#skills {
    background-color: #385E5C;
    text-align: center;
    color: white;
    padding: 3rem 1rem;
}

#skills h3 {
    font-size: 3rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.languages {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    width: 75vw;
}

.language {
    border: 5px solid white;
    width: 33%;
    padding: 2rem;
    font-size: 1.5rem;
}

.language i{
    margin-bottom: 2rem;
    font-size: 3rem;
}