html {
  Font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: dimgrey;
}

a {
  color: dimgrey;
}

/* Header */

header {
  background-color: pink;
  height: 2rem;
  padding: 1rem 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid midnightblue;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.title img {
  height: 2rem;
  border: 1px solid white;
}

.title h1 {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

header nav {
  margin-right: 3rem;
}

header ul li {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 590px) {
  header {
    justify-content: space-between;
  }

  header h1 {
    display: none;
  }
}

/*Main*/

main {
  position: relative;
  top: 4rem;
}

/*Banner*/

.banner {
  background-color: paleturquoise;
  border-bottom: 0.1px solid midnightblue;
  text-align: center;
  color: white;
  padding: 2rem;
}

.banner img {
  border: 1px solid white;
  margin-top: 2rem;
}

.banner p {
  font-size: 10px;
  margin-top: 0.5rem;
}

.banner h1 {
  font-family: Arial;
  font-size: 7rem;
  font-weight: bold;
  color: darkblue;
  text-transform: uppercase;
  margin-top: 2rem;
}

@media only screen and (max-width: 1299px) {
  .banner h1 {
    font-size: 5.3rem;
  }
}

@media only screen and (max-width: 620px) {
  .banner h1 {
    font-size: 3.3rem;
  }
}

/*Portfolio*/

.portfolio {
  padding: 3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.portfolio a {
  text-decoration: none;
  width: 30rem;
}

.website {
  background-color: black;
  border: 5px solid paleturquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 30rem;
}

.website:hover {
  border: 5px solid pink;
}

.website h1 {
  text-align: center;
  font-size: 190%;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*Websites*/

#anderl-heckmair {
  background-image: url(/resources/images/mark-basarab-157610-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#brydie {
  background-image: url(/resources/images/Brydie.jpg);
  background-position: right;
  background-size: cover;
}

#wohlstands-trainer {
    background-image: url(/resources/images/wohlstandstrainer.jpg);
  background-position: right;
  background-size: cover;
}

#loewenherz {
  background-image: url(/resources/images/loewenherz.jpg);
  background-position: center;
  background-size: cover;
}

#teacozy {
  background-image: url(/resources/images/teacozy.jpg);
  background-position: center;
  background-size: cover;
}

#mytimes {
  background-image: url(/resources/images/img-story-1.png);
  background-position: center;
  background-size: cover;
}

#colmar {
  background-image: url(/resources/images/Colmar.jpg);
  background-position: center;
  background-size: cover;
}

#osteo {
  background-image: url(/resources/images/osteopathy.jpg);
  background-position: center;
  background-size: cover;
}

#match {
  background-color: rgb(32, 64, 86);
}

/*Info*/

.btn-homepage {
  border: 1px solid midnightblue;
  background-color: paleturquoise;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  margin: 0 auto 3rem auto;
  padding: 10px 10px;
  height: 20;
  width: 150px;
  text-align: center;
}

.btn-homepage:hover {
  background-color: pink;
  color: white;
}

.info a {
  text-decoration: none;
  color: midnightblue;
}


/*About Page*/

.about {
  padding: 3rem 1rem;
}

.about a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.fact {
  background-color: black;
  box-sizing: border-box;
  border: 5px solid midnightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  line-height: 1.5;
}

.fact:hover {
  border: 5px solid pink;
}

.fact h1 {
  text-align: center;
  font-size: 1.6rem;
  color: white;
}

#from {
  background-color: paleturquoise;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 780px) {
  .about {
    padding: 0;
    flex-direction: column;
  }

  .fact {
    width: 100%;
    margin: 0;
    border: 5px solid white;
  }

  .fact h1 {
    font-size: 1rem;
  }
}

/*Rating*/

.testimonials {
  background-color: paleturquoise;
  border-top: 1px solid black;
  padding: 3rem;
}

.move {
  text-align: center;
  font-size: 4rem;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 4rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.rating {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.rating img {
  width: 50%;
}

.rating p {
  margin: 1rem 0;
  color: black;
  text-align: center;
  width: 60%;
}

.rating span {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 780px){
  .testimonials h1 {
    font-size: 3rem;
  }
  
  .ratings {
    flex-flow: column wrap;
  }
  
  .rating {
    margin-bottom: 2rem;
  }
  
  .rating img {
    width: 70%;
  }
  
  .rating p {
    width: 90%;
    font-size: 1.3rem;
  }
}

/*Footer*/

footer {
  position: relative;
  top: 4rem;
  background-color: pink;
  color: white;
  border-top: 0.1px solid midnightblue;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer i {
  padding: 0.5rem;
  border: 1px solid white;
}

footer a {
  color: white;
}

.example {
  background-image: url(/images/elephant.png);
}